# Can ignore specific files
.DS_Store

# Use wildcards as well
#*~
#*.swp
*.vtu
*system.txt

# Can also ignore all directories and files in a directory.
#tmp/**/*
.vs
out
obj
build*
debug-build*
lib
.settings
.vscode
.idea
.cproject
.project
project.vcxproj.user.in
CMakeCache.txt
CMakeFiles
examples/ex19/ls-dyna
# Temp, work in progress
runSimulation.sh 
